@charset "UTF-8";

:root {
    --main-fg-color: #72a7cf;
    --main-link-color: #20a2cf;
    --main-visited-color: #10a0cf;
    --main-bg-color: white;
    --addremove-foreground: black;
    --addremove-background: fdfdfd;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 110%;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.feeds {
    text-decoration: none;
    color: var(--main-fg-color);
}

a, u {
    text-decoration: none;
    color: var(--main-fg-color);
    font-weight: bold;
}

a:visited{
    color: var(--main-visited-color);
    font-weight: bold;
}

a:link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: underline;
}

#headerpic {
    width: 30%;
    height: auto;
    margin-right : auto;
    margin-left : auto;
    min-width : 220px;
}

.header {
    margin-left: 10%;
    margin-right: 10%;
}

.subheader {
    text-align: center;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    clear: both;
}

.card input[type=text] {
    width: 90%;
    clear: both;
    text-align: center;
    color: var(--addremove-foreground);
    background-color: var(--addremove-background);
}
